@if $use-data == true {

/* @Data (object)
   ======================================================== */

/**
 * Used to create data tables.
 *
 * Example:
 *
 * <table class="data data--zebra">
 *
 * 		<thead>	
 *			<tr>
 *				<th>
 *					Head 1
 *				</th>
 *
 *				<th>
 *					Head 1
 *				</th>
 *
 *				<th>
 *					Head 3
 *				</th>
 *			</tr>
 *		</thead>
 *
 * 		<tbody>	
 *			<tr>
 *				<td>
 *					Data 1
 *				</td>
 *
 *				<td>
 *					Data 2
 *				</td>
 *
 *				<td>
 *					Data 3
 *				</td>
 *			</tr>
 *		</tbody>
 *
 * </table>
 */

// B
// --------------------------------------------------------

	.data td
	{
		border-top: 1px dotted $hr-color;
	}

/**
 * 	Useful if you want to remove the top border for when there is no thead.
 */
	
	.data__first td
	{
		border-top: 0;
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

	.data--zebra tbody tr:nth-child(odd) td
	{
		background: lighten($hr-color, 10%);
	}

}