/* Shared
   ======================================================== */

/* Margins
   -------------------------------------------------------- */

	%margin--t 
	{
		margin-top: $base-line-height;
	}

	%margin--b, h1, h2, h3, h4, h5, h6, hgroup, p, ul, ol, dl, blockquote, address, table, fieldset, figure, pre
	{
		margin-bottom: $base-line-height;
	}

	%margin--l, ul, ol
	{
		margin-left: $base-line-height;
	}

	%margin--r 
	{
		margin-right: $base-line-height;
	}

/* Padding
   -------------------------------------------------------- */

	%padding--s 
	{
		padding: $base-line-height / 2;
	}

	%padding--m 
	{
		padding: $base-line-height;
	}

	%padding--l	
	{
		padding: $base-line-height * 2;
	}

/* Radius
   -------------------------------------------------------- */

	%radius--n 
	{
		@include vendor(border-radius, 0);
	}

	%radius--s 
	{
		@include vendor(border-radius, $base-border-radius / 2);
	}

	%radius--m 
	{
		border-radius: $base-border-radius;
	}

	%radius--l 
	{
		@include vendor(border-radius, $base-border-radius * 2);
	}

	%radius--x 
	{
		@include vendor(border-radius, $base-border-radius * 3);
	}

/* Style
   -------------------------------------------------------- */

	%style--italic
	{
		font-style: italic;
	}	

/* Weight
   -------------------------------------------------------- */

	%weight--bold
	{
		font-weight: 600;
	}	

/* Size
   -------------------------------------------------------- */

	%size--s
	{
		font-size: 85%;
	}		

/* Clearfix
   -------------------------------------------------------- */

	%clearfix:after
	{
		display: table;

		clear: both;

		content: "";
	}
