/* Nav (trump)
   ======================================================== */

// B
// --------------------------------------------------------

// E
// --------------------------------------------------------

	.nav__item:first-child 
	{
		margin-left: 0;

		margin-top:	0;

		border-top:	0;

		border-left: 0;
	}

// M
// --------------------------------------------------------
