@if $use-text == true {

/* @Text (helper)
   ======================================================== */

/**
 * Used to align text horizontally or vertically.
 *
 * Example:
 *
 * <p class="text--r">
 *
 *		The quick brown fox jumped over the lazy dog.
 *
 * </p>
 */

// B
// --------------------------------------------------------

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

	.text--t
	{
		vertical-align: top;
	}

	.text--m
	{
		vertical-align: middle;
	}

	.text--b
	{
		vertical-align: bottom;
	}

	.text--l
	{
		text-align: left;
	}

	.text--c
	{
		text-align: center;
	}	

	.text--r
	{
		text-align: right;
	}	

}
