@if $use-text == true {

/* @Text (helper)
   ======================================================== */

// B
// --------------------------------------------------------

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

	.text--t
	{
		vertical-align: top;
	}

	.text--m
	{
		vertical-align: middle;
	}

	.text--b
	{
		vertical-align: bottom;
	}

	.text--l
	{
		text-align: left;
	}

	.text--c
	{
		text-align: center;
	}	

	.text--r
	{
		text-align: right;
	}	

}
