@if $use-bar == true {

/* @Bar (object)
   ======================================================== */

// B
// --------------------------------------------------------

	.bar
	{
		height: $base-line-height;

		padding: 2px;

		border: 1px solid $hr-color;
	}

// E
// --------------------------------------------------------
	
	.bar__value
	{
		height: 100%;
	}

	.bar__value, .bar
	{
		display: block;
	}

// M
// --------------------------------------------------------

}