@if $use-bar == true {

/* @Bar (object)
   ======================================================== */

/**
 * Used to create a progress bar.
 *
 * Example:
 *
 * <div class="bar">
 *
 * 		<div class="blue bar__value" style="width: 25%">
 *
 *			&nbsp;
 *
 *		</div>
 *
 * </div>
 */

// B
// --------------------------------------------------------

	.bar
	{
		height: $base-line-height;

		padding: 2px;

		border: 1px solid $hr-color;
	}

// E
// --------------------------------------------------------
	
	.bar__value
	{
		height: 100%;
	}

	.bar__value, .bar
	{
		display: block;
	}

// M
// --------------------------------------------------------

}