@if $use-flush == true {

/* @Flush (helper)
   ======================================================== */
/**
 * Used to remove margins from an element.
 *
 * Example:
 *
 * <p class="flush--b">
 *
 * 		The quick brown fox jumped over the lazy dog.
 *
 * </p>
 */

// B
// --------------------------------------------------------

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

	.flush--t
	{
		margin-top: 0;
	}

	.flush--b
	{
		margin-bottom: 0;
	}

	.flush--l
	{
		margin-left: 0;
	}

	.flush--r
	{
		margin-right: 0;
	}

}