@if $use-media == true {

/* @Media (object)
   ======================================================== */

/**
 * Used to layout content and an image side-by-side.
 *
 * Example:
 *
 * <div class="media">
 *
 * 		<div class="media__image">	
 *			
 *			<img src="images/brown-fox.png" />
 *			
 *		</div>
 *
 *		<div class="media__body">	
 *					
 *			<h1>
 *				About the Fox
 *			</h1>
 *
 * 			<p>	
 *
 *				The quick brown fox jumped over the lazy dog.
 *			
 *			</p>
 *				
 *		</div>
 *			
 * </div>
 */

// B
// --------------------------------------------------------

	.media
	{
		@extend %clearfix;
	}

// E
// --------------------------------------------------------

	.media__image
	{
		@extend %margin--r;

		float: left;
	}

	.media__image img
	{
		display: block;
	}

	.media__body
	{
		overflow: hidden;
	}

// M
// --------------------------------------------------------

	.media--r .media__image
	{
		@extend %margin--l;

		margin-right: 0;

		float: right;
	}
	
}