@if $use-link == true {

/* @Link (helper)
   ======================================================== */

// B
// --------------------------------------------------------

// E
// --------------------------------------------------------

	.link__icon
	{
		margin-right: $base-line-height / 4;
	}

// M
// --------------------------------------------------------

	.link--pseudo
	{
		color: inherit;

		text-decoration: none;
	}

	.link--pseudo:hover
	{
		text-decoration: underline;
	}
	
}
