@if $use-block == true and $use-nav == true and $use-link == true {

/* @Block (skin)
   ======================================================== */

/**
 * Used to create block navigation with lines between items.
 *
 * Example:
 *
 * <ul class="block nav">
 *
 * 		<li class="nav__item nav__item--active">	
 *			
 *			<a class="nav__link">
 *					
 *				Item 1
 *
 *			<a>
 *				
 *		</li>
 *
 *		<li class="nav__item">	
 *
 *			<a class="nav__link">
 *			
 *				Item 2
 *
 * 			</a>	
 *
 *		</li>
 *
 * </ul>
 */

// B
// --------------------------------------------------------

/**
 * Block navigations are always stacked.
 */

	.block
	{
		@extend .nav--stack;

		margin-bottom: $base-line-height / 2;
	}

// E
// --------------------------------------------------------

	.block .nav__item
	{
		margin: 0;

		border-top: 1px dotted $hr-color;
	}

	.block .nav__link
	{
		@extend .link--pseudo;

		margin: $base-line-height / 2 0;
	}

// M
// --------------------------------------------------------

}