@if $use-chat == true {

/* @Chat (skin)
   ======================================================== */

/**
 * Used to create a chat box with a speech arrow.
 *
 * Example:
 *
 * <div class="gray chat box">
 *
 *		<h1>
 *			I jumped over the lazy dog.
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			- Quick brown Fox
 *
 *		</p>
 *
 * </div>
 */

// B
// --------------------------------------------------------
	
	.chat
	{
		position: relative;
	}

	.chat:after
	{
		position: absolute;

		content: "";

		bottom: -$base-line-height / 2;

		left: $base-line-height;

		border-left: $base-line-height / 2 solid transparent;

		border-right: $base-line-height / 2 solid transparent;				
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------
	
	.chat--r:after
	{
		left: auto;

		right: $base-line-height;
	}
	
}