@if $use-opaque == true {

/* @Opaque (skin)
   ======================================================== */

/**
 * Used to give Box objects some transparency. This is ideal for fixed navbar.
 *
 * Example:
 *
 * <div class="black opaque box">
 *
 *		<h1>
 *			About the Fox
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */

// B
// --------------------------------------------------------
	
	.opaque
	{
		zoom: 1;

		opacity: .9;

		filter: alpha(opacity=90);
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------
	
}