@if $use-dock == true {

/* @Dock (object)
   ======================================================== */

// B
// --------------------------------------------------------
	
	.dock
	{
		position: absolute;

		z-index: 99999;
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

	.dock--t
	{
		width: 100%;

		top: 0;
	}

	.dock--b
	{
		width: 100%;

		bottom: 0;
	}

	.dock--l
	{
		height: 100%;

		left: 0;
	}

	.dock--r
	{
		height: 100%;

		right: 0;
	}

	.dock--snap
	{
		position: fixed;
	}

}