/* ========================================================
 * construct.oocss 
 * ======================================================== */
/* ========================================================
   Utilities
   ======================================================== */
/* Normalize
   ======================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C""\201D""\2018""\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset
   ======================================================== */
/* Html
   -------------------------------------------------------- */
/**
 * Always use the vendor prefixes when changing the box-sizing.
 */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Margins
   -------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, ul, ol, dl, dd, form, fieldset, legend, table, th, td, caption {
  margin: 0;
  padding: 0; }

/* Shared
   ======================================================== */
/* Margins
   -------------------------------------------------------- */
.alert, .box, .nav, .navbar, h1, h2, h3, h4, h5, h6, hgroup, p, ul, ol, dl, blockquote, address, table, fieldset, figure, pre {
  margin-bottom: 24px; }

.media--r .media__image, .tip .drop__body, ul, ol {
  margin-left: 24px; }

.media__image {
  margin-right: 24px; }

/* Padding
   -------------------------------------------------------- */
.alert, .box--s, .navbar, .btn, .tip .drop__body {
  padding: 12px; }

.box {
  padding: 24px; }

.box--l {
  padding: 48px; }

/* Radius
   -------------------------------------------------------- */
.btn {
  border-radius: 4px; }

.badge {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px; }

/* Style
   -------------------------------------------------------- */
/* Weight
   -------------------------------------------------------- */
.alert, .label, .nav__item--active, .navbar .navbar__title, .navbar .nav__link {
  font-weight: 600; }

/* Size
   -------------------------------------------------------- */
.alert, .label, .navbar, .tip .drop__body {
  font-size: 85%; }

/* Clearfix
   -------------------------------------------------------- */
.box:after, .grid:after, .media:after, .nav:after, .navbar:after, .cf:after {
  display: table;
  clear: both;
  content: ""; }

/* ========================================================
   Typography
   ======================================================== */
/* Main
   ======================================================== */
/* Html
   -------------------------------------------------------- */
html {
  overflow-y: scroll;
  min-height: 100%; }

/* Body
   -------------------------------------------------------- */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background: white; }

/* Headings
   ======================================================== */
/* Normal
   -------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1, .h1 {
  font-size: 42px;
  line-height: 1.14286; }

h2, .h2 {
  font-size: 36px;
  line-height: 1.33333; }

h3, .h3 {
  font-size: 30px;
  line-height: 1.6; }

h4, .h4 {
  font-size: 26px;
  line-height: 1.84615; }

h5, .h5 {
  font-size: 18px;
  line-height: 1.33333; }

h6, .h6 {
  font-size: 16px;
  line-height: 1.5; }

/* Hero
   -------------------------------------------------------- */
.hero {
  font-size: 63px;
  line-height: 1.14286; }

/* Links
   ======================================================== */
a {
  color: #007bc3; }

/* Paragraphs
   ======================================================== */
/**
 * A larger line-height is used so wrapping text appears less crammed.
 */
.lead {
  font-size: 24px;
  line-height: 1.5; }

/* Dividers
   ======================================================== */
hr {
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 23px; }

/* Images
   ======================================================== */
img {
  max-width: 100%; }

/* Lists
   ======================================================== */
/* Margins
   -------------------------------------------------------- */
ul, ol, dd {
  margin-left: 48px; }

/* Children
   -------------------------------------------------------- */
li > ul, li > ol {
  margin-bottom: 0; }

/* Tables
   ======================================================== */
/* Table
   -------------------------------------------------------- */
table {
  width: 100%; }

/* Cells
   -------------------------------------------------------- */
th, td {
  padding: 12px 6px;
  text-align: left; }

th {
  padding-top: 0; }

/* Image
   -------------------------------------------------------- */
td img {
  vertical-align: middle; }

/* Forms
   ======================================================== */
/* Fieldset
   ------------------------------------------------------- */
fieldset {
  padding: 24px; }

/* Label
   ------------------------------------------------------- */
label {
  display: block;
  margin-bottom: 6px; }

/* ========================================================
   Components
   ======================================================== */
/* @Alert (object)
   ======================================================== */
/**
 * Used to create an alert message.
 *
 * Example:
 *
 * <div class="gray alert">
 *
 * 		The quick brown fox jumped over the lazy dog.	
 *
 * </div>
 */
/* @Bar (object)
   ======================================================== */
/**
 * Used to create a progress bar.
 *
 * Example:
 *
 * <div class="bar">
 *
 * 		<div class="blue bar__value" style="width: 25%">
 *
 *			&nbsp;
 *
 *		</div>
 *
 * </div>
 */
.bar {
  height: 24px;
  padding: 2px;
  border: 1px solid #cccccc; }

.bar__value {
  height: 100%; }

.bar__value, .bar {
  display: block; }

/* @Box (object)
   ======================================================== */
/**
 * Used to box off content from the rest of the page.
 *
 * Example:
 *
 * <div class="gray box">
 *
 *		<h1>
 *			About the Fox
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
/**
 * Microsoft Internet Explorer 8 does not support last-child.
 */
.box__last {
  margin-bottom: 0; }

/* @Btn (object)
   ======================================================== */
/**
 * Used to create modern buttons.
 *
 * Example:
 *
 * <a class="blue btn" href="#">
 *
 * 		Submit	
 *
 * </a>
 */
.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

.btn, .btn:active {
  text-decoration: none; }

.btn--block {
  padding: 36px;
  width: 100%; }

/* @Data (object)
   ======================================================== */
/**
 * Used to create data tables.
 *
 * Example:
 *
 * <table class="data data--zebra">
 *
 * 		<thead>	
 *			<tr>
 *				<th>
 *					Head 1
 *				</th>
 *
 *				<th>
 *					Head 1
 *				</th>
 *
 *				<th>
 *					Head 3
 *				</th>
 *			</tr>
 *		</thead>
 *
 * 		<tbody>	
 *			<tr>
 *				<td>
 *					Data 1
 *				</td>
 *
 *				<td>
 *					Data 2
 *				</td>
 *
 *				<td>
 *					Data 3
 *				</td>
 *			</tr>
 *		</tbody>
 *
 * </table>
 */
.data td {
  border-top: 1px dotted #cccccc; }

/**
 * 	Useful if you want to remove the top border for when there is no thead.
 */
.data__first td {
  border-top: 0; }

.data--zebra tbody tr:nth-child(odd) td {
  background: #e6e6e6; }

/* @Dock (object)
   ======================================================== */
/**
 * Used to dock content to the side of the screen.
 *
 * Example:
 *
 * <div class="dock dock--t">
 *
 * 		<p>
 *			The quick brown fox jumped over the lazy dog.
 *		</p>
 *
 * </div>
 */
.dock {
  position: absolute;
  z-index: 99999; }

.dock--t {
  width: 100%;
  top: 0; }

.dock--b {
  width: 100%;
  bottom: 0; }

.dock--l {
  height: 100%;
  left: 0; }

.dock--r {
  height: 100%;
  right: 0; }

.dock--snap {
  position: fixed; }

/* @Drop (object)
   ======================================================== */
/**
 * Used to drop down content when the user hovers over the block.
 *
 * Example:
 *
 * <div class="drop">
 *
 *		<h1>
 *			About the Fox (more)
 *		</h1>
 *
 * 		<p class="drop__body">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
.drop {
  position: relative;
  overflow: hidden; }

.drop:hover {
  overflow: visible; }

.drop:hover .drop__body {
  left: 0; }

.drop__body {
  position: absolute;
  top: 100%;
  left: -99999px;
  z-index: 99999; }

/* @Grid (object)
   ======================================================== */
/**
 * Used to layout content by screen proportions.
 *
 * Example:
 *
 * <div class="grid">
 *
 * 		<div class="unit size--1-2">	
 *			
 *			<p>
 *				The quick brown fox jumped over the lazy dog.
 *			</p>
 *
 *		</div>
 *
 * 		<div class="unit size--1-2">	
 *			
 *			<p>
 *				The quick brown fox jumped over the lazy dog.
 *			</p>
 *
 *		</div>
 *
 * </div>
 */
.grid {
  margin: 0 auto;
  max-width: 960px; }

.unit {
  padding-right: 24px;
  float: left; }

/**
 * This does not follow the same B.E.M naming convention for ease-of-use.
 */
.size--1-1 {
  width: 100%; }

.size--1-2 {
  width: 50.0%; }

.size--1-3 {
  width: 33.3%; }

.size--1-4 {
  width: 25.0%; }

.size--2-3 {
  width: 66.6%; }

.size--3-4 {
  width: 75.0%; }

.size--1-5 {
  width: 20.0%; }

.size--2-5 {
  width: 40.0%; }

.size--3-5 {
  width: 60.6%; }

.size--4-5 {
  width: 80.0%; }

/* @Label (object)
   ======================================================== */
/**
 * Used to create inline labels.
 *
 * Example:
 *
 * <p>
 *
 * 		The quick brown fox <span class="blue label">jumped</span> over the lazy dog.
 *
 * </p>
 */
.label {
  display: inline-block;
  padding: 0 12px;
  text-align: center; }

/* @Media (object)
   ======================================================== */
/**
 * Used to layout content and an image side-by-side.
 *
 * Example:
 *
 * <div class="media">
 *
 * 		<div class="media__image">	
 *			
 *			<img src="images/brown-fox.png" />
 *			
 *		</div>
 *
 *		<div class="media__body">	
 *					
 *			<h1>
 *				About the Fox
 *			</h1>
 *
 * 			<p>	
 *
 *				The quick brown fox jumped over the lazy dog.
 *			
 *			</p>
 *				
 *		</div>
 *			
 * </div>
 */
.media__image {
  float: left; }

.media__image img {
  display: block; }

.media__body {
  overflow: hidden; }

.media--r .media__image {
  margin-right: 0;
  float: right; }

/* @Nav (object)
   ======================================================== */
/**
 * Used to create location-independent navigation.
 *
 * Example:
 *
 * <ul class="nav">
 *
 * 		<li class="nav__item nav__item--active">	
 *			
 *			<a class="nav__link">
 *					
 *				Item 1
 *
 *			<a>
 *				
 *		</li>
 *
 *		<li class="nav__item">	
 *
 *			<a class="nav__link">
 *			
 *				Item 2
 *
 * 			</a>	
 *
 *		</li>
 *
 * </ul>
 */
.nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.nav__item {
  float: left;
  margin-left: 24px; }

.nav__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.nav--right {
  float: right; }

.nav--stack .nav__item, .block .nav__item {
  float: none;
  margin-left: 0;
  margin-top: 24px; }

/* @Navbar (object)
   ======================================================== */
/**
 * Used to create navigation bars. 
 *
 * Example:
 *
 * <div class="black navbar">
 *
 * 		<ul class="list nav">
 *
 * 			<li class="nav__item nav__item--active">	
 *			
 *				<a class="nav__link">
 *					
 *					Item 1
 *
 *				<a>
 *				
 *			</li>
 *
 *			<li class="nav__item">	
 *
 *				<a class="nav__link">
 *			
 *					Item 2
 *
 * 				</a>	
 *
 *			</li>
 *
 * 		</ul>
 * </div>
 */
.navbar .nav {
  float: right;
  margin: 0; }

.navbar .nav__item {
  color: #aaaaaa; }

.navbar .navbar__title, .navbar .nav__link {
  text-decoration: none; }

.navbar__title, .navbar .nav__item:hover, .navbar .nav__item--active {
  color: white; }

/* ========================================================
   Skins
   ======================================================== */
/* @Chat (skin)
   ======================================================== */
/**
 * Used to create a chat box with a speech arrow.
 *
 * Example:
 *
 * <div class="gray chat box">
 *
 *		<h1>
 *			I jumped over the lazy dog.
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			- Quick brown Fox
 *
 *		</p>
 *
 * </div>
 */
.chat {
  position: relative; }

.chat:after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 24px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent; }

.chat--r:after {
  left: auto;
  right: 24px; }

/* @Plate (skin)
   ======================================================== */
/**
 * Used to create a box with a outset effect.
 *
 * Example:
 *
 * <div class="gray plate box">
 *
 *		<h1>
 *			About the Fox
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
.plate {
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2); }

/* @Round (skin)
   ======================================================== */
/**
 * Used to create a box with rounded corners.
 *
 * Example:
 *
 * <div class="gray round box">
 *
 *		<h1>
 *			About the Fox
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* @Well (skin)
   ======================================================== */
/**
 * Used to create a box with a inset effect.
 *
 * Example:
 *
 * <div class="gray well box">
 *
 *		<h1>
 *			About the Fox
 *		</h1>
 *
 * 		<p class="box__last">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
.well {
  -webkit-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2); }

/* @Flat (skin)
   ======================================================== */
/**
 * Used to create flat buttons without a border-radius.
 *
 * Example:
 *
 * <a class="blue pill btn" href="#">
 *
 * 		Submit	
 *
 * </a>
 */
.flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* @Badge (skin)
   ======================================================== */
/**
 * Used to create inline badges.
 *
 * Example:
 *
 * <p>
 *
 * 		The quick brown fox jumped over the lazy dog <span class="blue badge label">5</span> times.
 *
 * </p>
 */
/* @Tip (skin)
   ======================================================== */
/**
 * Used to create tooltips. Place the color swatch on drop__body
 *
 * Example:
 *
 * <div class="tip drop">
 *
 *		<h1>
 *			About the Fox (more)
 *		</h1>
 *
 * 		<p class="red drop__body">
 *
 *			The quick brown fox jumped over the lazy dog.
 *
 *		</p>
 *
 * </div>
 */
/* @Block (skin)
   ======================================================== */
/**
 * Used to create block navigation with lines between items.
 *
 * Example:
 *
 * <ul class="block nav">
 *
 * 		<li class="nav__item nav__item--active">	
 *			
 *			<a class="nav__link">
 *					
 *				Item 1
 *
 *			<a>
 *				
 *		</li>
 *
 *		<li class="nav__item">	
 *
 *			<a class="nav__link">
 *			
 *				Item 2
 *
 * 			</a>	
 *
 *		</li>
 *
 * </ul>
 */
/**
 * Block navigations are always stacked.
 */
.block {
  margin-bottom: 12px; }

.block .nav__item {
  margin: 0;
  border-top: 1px dotted #cccccc; }

.block .nav__link {
  margin: 12px 0; }

/* @List (skin)
   ======================================================== */
/**
 * Used to create navigation lists.
 *
 * Example:
 *
 * <ul class="list nav">
 *
 * 		<li class="nav__item nav__item--active">	
 *			
 *			<a class="nav__link">
 *					
 *				Item 1
 *
 *			<a>
 *				
 *		</li>
 *
 *		<li class="nav__item">	
 *
 *			<a class="nav__link">
 *			
 *				Item 2
 *
 * 			</a>	
 *
 *		</li>
 *
 * </ul>
 */
/* @Pivot (skin)
   ======================================================== */
/**
 * Used to create pivot tabs. 
 *
 * Example:
 *
 * <ul class="h4 pivot nav">
 *
 * 		<li class="nav__item nav__item--active">	
 *			
 *			<a class="nav__link">
 *					
 *				Item 1
 *
 *			<a>
 *				
 *		</li>
 *
 *		<li class="nav__item">	
 *
 *			<a class="nav__link">
 *			
 *				Item 2
 *
 * 			</a>	
 *
 *		</li>
 *
 * </ul>
 */
.pivot {
  color: #888888; }

.pivot .nav__link:hover, .pivot .nav__item--active {
  color: black; }

/* ========================================================
   Helpers
   ======================================================== */
/* @Cf (helper)
   ======================================================== */
/**
 * Used to clear the floats of an object.
 *
 * Example:
 *
 * <div class="cf">
 *
 * </div>
 */
/* @Flush (helper)
   ======================================================== */
/**
 * Used to remove margins from an element.
 *
 * Example:
 *
 * <p class="flush--b">
 *
 * 		The quick brown fox jumped over the lazy dog.
 *
 * </p>
 */
.flush--t {
  margin-top: 0; }

.flush--b {
  margin-bottom: 0; }

.flush--l {
  margin-left: 0; }

.flush--r {
  margin-right: 0; }

/* @Float (helper)
   ======================================================== */
/**
 * Used to float an element to the left or right.
 *
 * Example:
 *
 * <img class="float--r" src="images/brown-fox.png">
 */
.float--l {
  float: left; }

.float--r {
  float: right; }

/* @Img (helper)
   ======================================================== */
/**
 * Used to float an image to the left or right. 
 *
 * Example:
 *
 * <img class="img--r" src="images/brown-fox.png">
 */
.img--l {
  float: left; }

.img--r {
  float: right; }

/* @Link (helper)
   ======================================================== */
/**
 * Used to remove the text-decoration on links until it receives a hover event.
 *
 * Example:
 *
 * <h1>
 *		<a class="link--pseudo">
 *
 *			Blog Heading
 *	
 *		</a>
 *	</h1>
 */
/**
 * Adds a right margin to embedded images.
 */
.link__icon {
  margin-right: 6px; }

.link--pseudo, th a, .block .nav__link, .list .nav__link:hover {
  color: inherit;
  text-decoration: none; }

.link--pseudo:hover, th a:hover, .block .nav__link:hover, .list .nav__link:hover {
  text-decoration: underline; }

/* @Lm (helper)
   ======================================================== */
/**
 * Used to double up the margin-bottom for landmarks.
 *
 * Example:
 *
 * <h1 class="lm">
 *
 *		About the Fox
 *
 * </h1>
 *
 * <p>
 *		The quick brown fox jumped over the lazy dog.
 * </p>
 */
.lm {
  margin-bottom: 48px; }

/* @Rule (object)
   ======================================================== */
/**
 * Used to change the border-style of horizontal lines.
 *
 * Example:
 *
 * <hr class="rule--dotted" />
 */
.rule--dotted {
  border-bottom: 1px dotted #cccccc; }

.rule--dashed {
  border-bottom: 1px dashed #cccccc; }

/* ========================================================
   Swatches
   ======================================================== */
/**
 * These are additional helper classes but place in a separate idiomatic section for readability.
 */
/* white (swatch)
   ======================================================== */
.white {
  background: white;
  color: black; }

.white.btn:active {
  background: #e6e6e6; }

.white.chat:after {
  border-top: 12px solid white; }

.white--text {
  color: white; }

/* black (swatch)
   ======================================================== */
.black {
  background: black;
  color: white; }

.black.btn:active {
  background: black; }

.black.chat:after {
  border-top: 12px solid black; }

.black--text {
  color: black; }

/* gray (swatch)
   ======================================================== */
.gray {
  background: #eeeeee;
  color: black; }

.gray.btn:active {
  background: #d4d4d4; }

.gray.chat:after {
  border-top: 12px solid #eeeeee; }

.gray--text {
  color: #eeeeee; }

/* red (swatch)
   ======================================================== */
.red {
  background: #ed1846;
  color: white; }

.red.btn:active {
  background: #c30f36; }

.red.chat:after {
  border-top: 12px solid #ed1846; }

.red--text {
  color: #ed1846; }

/* green (swatch)
   ======================================================== */
.green {
  background: #7aab32;
  color: white; }

.green.btn:active {
  background: #5e8426; }

.green.chat:after {
  border-top: 12px solid #7aab32; }

.green--text {
  color: #7aab32; }

/* blue (swatch)
   ======================================================== */
.blue {
  background: #009bda;
  color: white; }

.blue.btn:active {
  background: #0077a7; }

.blue.chat:after {
  border-top: 12px solid #009bda; }

.blue--text {
  color: #009bda; }

/* ========================================================
   Trumps
   ======================================================== */
/* Nav (trump)
   ======================================================== */
.nav__item:first-child {
  margin-left: 0;
  margin-top: 0;
  border-top: 0;
  border-left: 0; }
