/* ========================================================
 * Glue 
 * ======================================================== */
/* ========================================================
   Utilities
   ======================================================== */
/* Normalize
   ======================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C""\201D""\2018""\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset
   ======================================================== */
/* Html
   -------------------------------------------------------- */
/**
 * Always use the vendor prefixes when changing the box-sizing.
 */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Margins
   -------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, ul, ol, dl, dd, form, fieldset, legend, table, th, td, caption {
  margin: 0;
  padding: 0; }

/* Shared
   ======================================================== */
/* Margins
   -------------------------------------------------------- */
.alert, .box, .nav, .navbar, h1, h2, h3, h4, h5, h6, hgroup, p, ul, ol, dl, blockquote, address, table, fieldset, figure, pre {
  margin-bottom: 24px; }

.media--r .media__image, ul, ol {
  margin-left: 24px; }

.media__image {
  margin-right: 24px; }

/* Padding
   -------------------------------------------------------- */
.alert, .box--s, .navbar, .btn {
  padding: 12px; }

.box {
  padding: 24px; }

.box--l {
  padding: 48px; }

/* Radius
   -------------------------------------------------------- */
.btn {
  border-radius: 4px; }

.badge {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px; }

/* Style
   -------------------------------------------------------- */
/* Weight
   -------------------------------------------------------- */
.alert, .label, .nav__item--active {
  font-weight: 600; }

/* Size
   -------------------------------------------------------- */
.alert, .label, .navbar {
  font-size: 85%; }

/* Clearfix
   -------------------------------------------------------- */
.box:after, .grid:after, .media:after, .nav:after, .navbar:after, .cf:after {
  display: table;
  clear: both;
  content: ""; }

/* ========================================================
   Typography
   ======================================================== */
/* Main
   ======================================================== */
/* Html
   -------------------------------------------------------- */
html {
  overflow-y: scroll;
  min-height: 100%; }

/* Body
   -------------------------------------------------------- */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background: white; }

/* Main
   ======================================================== */
/* Html
   -------------------------------------------------------- */
html {
  overflow-y: scroll;
  min-height: 100%; }

/* Body
   -------------------------------------------------------- */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background: white; }

/* Headings
   ======================================================== */
/* Normal
   -------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1, .h1 {
  font-size: 42px;
  line-height: 1.14286; }

h2, .h2 {
  font-size: 36px;
  line-height: 1.33333; }

h3, .h3 {
  font-size: 30px;
  line-height: 1.6; }

h4, .h4 {
  font-size: 26px;
  line-height: 1.84615; }

h5, .h5 {
  font-size: 18px;
  line-height: 1.33333; }

h6, .h6 {
  font-size: 16px;
  line-height: 1.5; }

/* Hero
   -------------------------------------------------------- */
.hero {
  font-size: 63px;
  line-height: 1.14286; }

/* Links
   ======================================================== */
a {
  color: #007bc3; }

/* Paragraphs
   ======================================================== */
/**
 * A larger line-height is used so wrapping text appears less crammed.
 */
.lead {
  font-size: 24px;
  line-height: 1.5; }

/* Dividers
   ======================================================== */
hr {
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 23px; }

/* Lists
   ======================================================== */
/* Margins
   -------------------------------------------------------- */
ul, ol, dd {
  margin-left: 48px; }

/* Children
   -------------------------------------------------------- */
li > ul, li > ol {
  margin-bottom: 0; }

/* Tables
   ======================================================== */
/* Table
   -------------------------------------------------------- */
table {
  width: 100%; }

/* Cells
   -------------------------------------------------------- */
th, td {
  padding: 12px 6px;
  text-align: left; }

th {
  padding-top: 0; }

/* Image
   -------------------------------------------------------- */
td img {
  vertical-align: middle; }

/* Forms
   ======================================================== */
/* Fieldset
   ------------------------------------------------------- */
fieldset {
  padding: 24px; }

/* Label
   ------------------------------------------------------- */
label {
  display: block;
  margin-bottom: 6px; }

/* ========================================================
   Components
   ======================================================== */
/* @Alert (object)
   ======================================================== */
/* @Bar (object)
   ======================================================== */
.bar {
  height: 24px;
  padding: 2px;
  border: 1px solid #cccccc; }

.bar__value {
  height: 100%; }

.bar__value, .bar {
  display: block; }

/* @Box (object)
   ======================================================== */
/**
 * Microsoft Internet Explorer 8 does not support last-child.
 */
.box__last {
  margin-bottom: 0; }

/* @Chat (skin)
   ======================================================== */
.chat {
  position: relative; }

.chat:after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 24px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent; }

.chat--r:after {
  left: auto;
  right: 24px; }

/* @Plate (skin)
   ======================================================== */
.plate {
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2); }

/* @Round (skin)
   ======================================================== */
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* @Well (skin)
   ======================================================== */
.well {
  -webkit-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2); }

/* @Btn (object)
   ======================================================== */
.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

.btn, .btn:active {
  text-decoration: none; }

.btn--block {
  padding: 36px;
  width: 100%; }

/* @Flat (skin)
   ======================================================== */
.flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* @Data (object)
   ======================================================== */
.data td {
  border-top: 1px dotted #cccccc; }

/**
 * 	Useful if you want to remove the top border for when there is no thead.
 */
.data__first td {
  border-top: 0; }

.data--zebra tbody tr:nth-child(odd) td {
  background: #e6e6e6; }

/* @Dock (object)
   ======================================================== */
.dock {
  position: absolute;
  z-index: 99999; }

.dock--t {
  width: 100%;
  top: 0; }

.dock--b {
  width: 100%;
  bottom: 0; }

.dock--l {
  height: 100%;
  left: 0; }

.dock--r {
  height: 100%;
  right: 0; }

.dock--snap {
  position: fixed; }

/* @Grid (object)
   ======================================================== */
.grid {
  margin: 0 auto;
  max-width: 960px; }

.unit {
  padding-right: 24px;
  float: left; }

/**
 * This does not follow the same B.E.M naming convetion for ease-of-use.
 */
.size--1-1 {
  width: 100%; }

.size--1-2 {
  width: 50.0%; }

.size--1-3 {
  width: 33.3%; }

.size--1-4 {
  width: 25.0%; }

.size--2-3 {
  width: 66.6%; }

.size--3-4 {
  width: 75.0%; }

.size--1-5 {
  width: 20.0%; }

.size--2-5 {
  width: 40.0%; }

.size--3-5 {
  width: 60.6%; }

.size--4-5 {
  width: 80.0%; }

/* @Label (object)
   ======================================================== */
.label {
  display: inline-block;
  padding: 0 12px;
  text-align: center; }

/* @Badge (skin)
   ======================================================== */
/* @Media (object)
   ======================================================== */
.media__image {
  float: left; }

.media__image img {
  display: block; }

.media__body {
  overflow: hidden; }

.media--r .media__image {
  margin-right: 0;
  float: right; }

/* @Nav (object)
   ======================================================== */
.nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.nav__item {
  float: left;
  margin-left: 24px; }

.nav__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.nav--right {
  float: right; }

.nav--stack .nav__item {
  float: none;
  margin-left: 0;
  margin-top: 24px; }

/* @Media (object)
   ======================================================== */
.list .nav__link:hover, .navbar .nav__link:hover {
  text-decoration: underline; }

/* @Media (object)
   ======================================================== */
/**
 * Use a hn size and [swatch]--text on the .pivot block to render it correctly.
 */
.pivot .nav__link:hover, .pivot .nav__item--active {
  color: black; }

/* @Navbar (object)
   ======================================================== */
.navbar .nav {
  margin: 0; }

/* ========================================================
   Helpers
   ======================================================== */
/* @Cf (helper)
   ======================================================== */
/* @Flush (helper)
   ======================================================== */
.flush--t {
  margin-top: 0; }

.flush--b {
  margin-bottom: 0; }

.flush--l {
  margin-left: 0; }

.flush--r {
  margin-right: 0; }

/* @Float (helper)
   ======================================================== */
.float--l {
  float: left; }

.float--r {
  float: right; }

/* @Img (helper)
   ======================================================== */
.img--l {
  float: left; }

.img--r {
  float: right; }

/* @Link (helper)
   ======================================================== */
.link__icon {
  margin-right: 6px; }

.link--pseudo, th a, .navbar__title {
  color: inherit;
  text-decoration: none; }

.link--pseudo:hover, th a:hover, .navbar__title:hover {
  text-decoration: underline; }

/* @Rule (object)
   ======================================================== */
.rule--dotted {
  border-bottom: 1px dotted #cccccc; }

.rule--dashed {
  border-bottom: 1px dashed #cccccc; }

/* ========================================================
   Swatches
   ======================================================== */
/**
 * These are additional helper classes but place in a separate idiomatic section for readability.
 */
/* white (swatch)
   ======================================================== */
.white {
  background: white;
  color: black; }

.white.btn:active {
  background: #e6e6e6; }

.white.chat:after {
  border-top: 12px solid white; }

.white--text {
  color: white; }

/* black (swatch)
   ======================================================== */
.black {
  background: black;
  color: white; }

.black.btn:active {
  background: black; }

.black.chat:after {
  border-top: 12px solid black; }

.black--text {
  color: black; }

/* gray (swatch)
   ======================================================== */
.gray {
  background: #eeeeee;
  color: black; }

.gray.btn:active {
  background: #d4d4d4; }

.gray.chat:after {
  border-top: 12px solid #eeeeee; }

.gray--text {
  color: #eeeeee; }

/* darkgray (swatch)
   ======================================================== */
.darkgray {
  background: #888888;
  color: black; }

.darkgray.btn:active {
  background: #6f6f6f; }

.darkgray.chat:after {
  border-top: 12px solid #888888; }

.darkgray--text {
  color: #888888; }

/* red (swatch)
   ======================================================== */
.red {
  background: #ed1846;
  color: white; }

.red.btn:active {
  background: #c30f36; }

.red.chat:after {
  border-top: 12px solid #ed1846; }

.red--text {
  color: #ed1846; }

/* green (swatch)
   ======================================================== */
.green {
  background: #7aab32;
  color: white; }

.green.btn:active {
  background: #5e8426; }

.green.chat:after {
  border-top: 12px solid #7aab32; }

.green--text {
  color: #7aab32; }

/* blue (swatch)
   ======================================================== */
.blue {
  background: #009bda;
  color: white; }

.blue.btn:active {
  background: #0077a7; }

.blue.chat:after {
  border-top: 12px solid #009bda; }

.blue--text {
  color: #009bda; }

/* purple (swatch)
   ======================================================== */
.purple {
  background: #76348d;
  color: white; }

.purple.btn:active {
  background: #572668; }

.purple.chat:after {
  border-top: 12px solid #76348d; }

.purple--text {
  color: #76348d; }

/* orange (swatch)
   ======================================================== */
.orange {
  background: #cc6d1b;
  color: white; }

.orange.btn:active {
  background: #9f5515; }

.orange.chat:after {
  border-top: 12px solid #cc6d1b; }

.orange--text {
  color: #cc6d1b; }

/* ========================================================
   Trumps
   ======================================================== */
/* Nav (trump)
   ======================================================== */
.nav__item:first-child {
  margin-left: 0;
  margin-top: 0;
  border-top: 0;
  border-left: 0; }
