/* Tables
   ======================================================== */

/* Table
   -------------------------------------------------------- */

    table
    {
        width: 100%;
    }

/* Cells
   -------------------------------------------------------- */

    th, td
    {
        padding: ($base-line-height / 2) ($base-line-height / 4);

        text-align: left;
    }

    th
    {
        padding-top: 0;
    }

    th a
    {
        @extend .link--pseudo;
    }

/* Image
   -------------------------------------------------------- */
 
    td img
    {
        vertical-align: middle;
    }