@if $use-label == true {

/* @Label (object)
   ======================================================== */

/**
 * Used to create inline labels.
 *
 * Example:
 *
 * <p>
 *
 * 		The quick brown fox <span class="blue label">jumped</span> over the lazy dog.
 *
 * </p>
 */

// B
// --------------------------------------------------------

	.label
	{
		@extend %weight--bold;

		@extend %size--s;

		@extend %radius--s;

		display: inline-block; 

		padding: 0 $base-line-height / 2;

		text-align: center;		
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

}