@if $use-label == true {

/* @Label (object)
   ======================================================== */

// B
// --------------------------------------------------------

	.label
	{
		@extend %weight--bold;

		@extend %size--s;

		@extend .round--s;

		display: inline-block; 

		padding: 0 $base-line-height / 2;

		text-align: center;		
	}

// E
// --------------------------------------------------------

// M
// --------------------------------------------------------

}