@if $use-navbar == true and $use-nav == true and $use-link == true {

/* @Navbar (object)
   ======================================================== */

/**
 * Used to create navigation bars. 
 *
 * Example:
 *
 * <div class="black navbar">
 *
 * 		<ul class="list nav">
 *
 * 			<li class="nav__item nav__item--active">	
 *			
 *				<a class="nav__link">
 *					
 *					Item 1
 *
 *				<a>
 *				
 *			</li>
 *
 *			<li class="nav__item">	
 *
 *				<a class="nav__link">
 *			
 *					Item 2
 *
 * 				</a>	
 *
 *			</li>
 *
 * 		</ul>
 * </div>
 */

// B
// --------------------------------------------------------

	.navbar
	{
		@extend %clearfix;

		@extend %margin--b;

		@extend %size--s;
	
		@extend .box--s;
	}

	.navbar .nav
	{
		float: right;

		margin: 0; 
	}

// E
// --------------------------------------------------------

	.navbar .nav__item
	{
		color: $navbar-normal-forecolor;
	}

	.navbar .navbar__title, .navbar .nav__link
	{
		@extend %weight--bold;

		text-decoration: none;
	}

// M
// --------------------------------------------------------

	.navbar__title, .navbar .nav__item:hover, .navbar .nav__item--active
	{
		color: $navbar-active-forecolor;
	}

}